@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC&display=swap');

    /* GLOBAL */

body {
    text-align: center;
    font-family: 'IM Fell English SC', serif;
	font-size: 35px;
	color: white;
	background-image: url("../assets/img/Steam\ Community\ Market\ Listings\ for\ 211360\ Offspring\ Fling\ Forest.jpg");
	background-size: cover;
	
	background-repeat: no-repeat;
}

img{
    width: 90px;
    height: auto;
	align-self: center;
}

.button {
    border: none;
    background-color: #5e72e4; 
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: 'IM Fell English SC', serif;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
.button:hover {
    background-color: white;
}

/* =========== GRID ========== */
#grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#grid-container {
display: grid;
grid-template-rows: repeat(10, 9vh);
grid-template-columns: repeat(10, 9vh);
grid-gap: 1px;
margin: auto 0;
padding: 3.8vh;
position: relative;
}

.grid-item {
background: white;
border: 1px solid #939393;
border-radius: 7px ;
}

/* =========== MAIN ========== */
.main {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	grid-gap: 1vh;
	padding: 2vh 1vh;
}
/* ========== PLAYER BOARDS ==========*/
.player-board {
	border-radius: 8px;
	background-color: white;
	padding: 2%;
	height: auto;
	width: 15vh;
	margin: auto auto auto 0;
}

#player-board-1 {
		margin: auto 0 auto auto;
		background-color: #5e72e4;
		
}

#player-board-2 {
		margin: auto auto auto 0;
		background-color: #5e72e4;
}

.player-board p {
	font-family: cabin, arial, sans-serif;
	font-size: 15px;
	margin: 4% 0 2% 0;
	border-radius: 4px;
}

.player-board img {
	width: 90%;
	height: auto;
	margin: 5% auto auto auto;
}

.name {
	font-weight: bold;
}

.input {
	font-family: cabin-semibold, arial, sans-serif;
	font-size: 16px;
	padding: 4%;
	margin: auto auto 15% auto;
	border-radius: 6px;
	transition: background-color 1s;
}

.player-detail {
	width: 70%;
	height: auto;
	margin: auto;
}

.highlight {
	cursor: pointer;
	
	animation: pulse 2s infinite;
	transform: scale(1);
	animation: pulse 1s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: inset 0px 0 10px 1px #5e72e4;
	}

	70% {
		transform: scale(1);
		box-shadow: inset 0px 0 10px 1px #5e72e4;
	}

	100% {
		transform: scale(0.95);
		box-shadow: inset 0px 0 10px 1px #5e72e4;
	}
}

.highlight:hover {
	animation: none;
  }



/* WEAPONS */
.sword {
	background-image: url('../assets/img/sword.jpg');
	background-size: 110%;
	background-position: center center;
	background-repeat: no-repeat;
}
.fire {
	background-image: url('../assets/img/fire.gif');
	background-size: 150%;
	background-position: center center;
	background-repeat: no-repeat;
}

/* PLAYERS */
.player1 {
	background-image: url('../assets/img/player1.png');
	background-size: 110%;
	background-position: center center;
	background-repeat: no-repeat;
}
.player2 {
	background-image: url('../assets/img/player2.png');
	background-size: 110%;
	background-position: center center;
	background-repeat: no-repeat;
}

.barrier {
	background-image: url('../assets/img/wall.jpg');
	background-size: 110%;
	background-position: center center;
	background-repeat: no-repeat;
}

/* TEST */
.custom-button {
    border: none;
    background-color: white; 
    padding: 10px 25px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    font-family: 'IM Fell English SC', serif;
    margin: 4px 0px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
.custom-button:hover {
    background-color: #5e72e4;
}